/*Overall style*/
/*Import font*/
@import url(http://fonts.googleapis.com/css?family=Lato:300,400);

/*Sidebar style*/
.peroozStyle#peroozSidebar{
	position:fixed;
	top: 0;
	right: 0;
	width: 360px;
	margin-right: -360px;
	height:100%;
	z-index:9999999999999999999;
	font-size:1em;
	background-color: #fff;
	overflow:scroll;
	font-family: 'Lato', sans-serif;
}

/*Close button style*/
.peroozStyle#peroozClose{
	display:inline-block;
	font-size:0.6em;
	color:#ff6600;
	background-color:#fff;
	border:1px solid #ff6600;
	height:2.5em;
	width:5em;
}

.peroozStyle#peroozBody{

}

.peroozStyle#peroozMain{
	position:fixed;
	padding-left:1.5em;
	padding-right:1.5em;
	padding-top:150px;
	width:330px;
}

.peroozStyle#peroozTxt{
	font-weight:bold;
	font-style:italic;
}

.peroozStyle#peroozNotegroup{
	cursor:pointer;
}

.peroozStyle#peroozNote{
	width:320px;
	border: 1px solid #ff6600;
	border-radius: 4px;
}

.peroozStyle#peroozNoteInline{
	width:310px;
	font-style:italic;
	font-weight:bold;
	color:#17c6fd;
	font-size:0.8em;
}

.peroozStyle#peroozNoteText{
	width:310px;
	font-style:normal;
	font-weight:normal;
	color:#000;
	font-size:0.9em;
}

/*Perooz annotation details*/
.peroozStyle#perooz-mouseicon {
	position: absolute !important;
	display: none;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	background-color: #fff;
	border: 1px solid #ff6600;
	border-radius: 4px;
	color: #ff6600;
	font-family: 'Lato', sans-serif;
}

.peroozStyle#perooz-mouseicon.active {
	display: inline-block;
}



