/*Overall style*/
/*Import font*/
@import url(http://fonts.googleapis.com/css?family=Lato:300,400);

/*Sidebar style*/
.peroozStyle#peroozSidebar{
	position:fixed;
	top: 0;
	right: 0;
	width: 360px;
	margin-right: -360px;
	height:100%;
	z-index:9999999999999999999;
	font-size:1em;
	background-color: #fff;
	overflow:scroll;
	font-family: 'Lato', sans-serif;
}

/*Close button style*/
.peroozStyle#peroozClose{
	display:inline-block;
	font-size:0.8em;
	color:#fff;
	background-color:#19486a;
	border:1px solid #FFF;
	padding: 10px;
	/*height:2.5em;*/
	width:100%;
	margin:0px;
}

.peroozStyle#peroozBody{
	height:100%;
	width:100%;
	background-color:#f6f6f6;
	border-left: 1px #262626 solid;
}

.peroozStyle#peroozMain{
	/*position:fixed;
	padding-left:3em;
	padding-right:1.5em;*/
	padding-top:1.5em;
	width:360px;
	height:95%;
	padding-bottom:1em;
	overflow:scroll;
	margin:0px auto;
	background-color:#f6f6f6;
}

/**.peroozStyle#peroozTxt{
	font-weight:bold;
	font-style:italic;
}*/

.peroozStyle#peroozNotegroup{
	cursor:pointer;
}

/*BUG - can't apply style via stylesheet so have to do inline*/
/*.peroozStyle#peroozNote{
	width:300px;
	border-radius: 4px;
	background-color:#ff0000;
	border-bottom: 1px solid #999;
	width:300px;
}*/

.peroozStyle#peroozNoteInline{
	width:300px;
	font-weight:bold;
	color:#4a4a4a;
	background-color:#fff;
	font-size:0.8em;
	padding:1em;
}

.peroozStyle#peroozNoteText{
	width:300px;
	padding:1em;

	font-style:normal;
	font-weight:normal;
	color:#999;
	background-color:#fff;
	font-size:0.8em;
}

/*Perooz annotation details*/
.peroozStyle#perooz-mouseicon {
	position: absolute !important;
	display: none;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	background-color: #fff;
	border: 1px solid #19486a;
	border-radius: 4px;
	color: #19486a;
	font-family: 'Lato', sans-serif;
}

.peroozStyle#perooz-mouseicon.active {
	display: inline-block;
}



