<div class='login_container'>
	<div id='logo'><img src='images/blueperooz.png' alt='Perooz' style='height:3em;width:auto;'></div>
		<form id='login_form'>
			<input id='nonce_id' type='hidden' name={{nonce}} /> //does this need quotation marks?
			<input id='username' type='text' name='username' placeholder='username'/><br/>
			<input id='pwd' type='password' name='username' placeholder='password' /><br/>
			<button id='sign_in'>SIGN IN</button><br/>
		</form>
	<button id='sign_up'>NEW USER? SIGN UP</button><br/>
	<button id='forgot_pw'>FORGOT YOUR LOGIN INFO?</button><br/>
	<div class='message'></div>
</div>