<div class='logout_container'>
	<div id="instructions">
		(1) Keep browsing! If you see a <img src="" alt="annotation" style=""> icon, there are annotations. Simply click the icon to see more.
		(2) If you are a Perooz annotator, simply select the text you wish to annotate. A <img src="" alt="annotation" style=""> icon will appear, which you can click to create the annotation. Alternatively, you can right click, go to the chrome Perooz menu <img src="" alt="annotation" style="">, and select ''create an annotation.''
	</div>
	<button id="logout">LOGOUT</div>
</div>